.r-copy-button {
  position: relative;
  padding: 6px;
  background: none;
  color: var(--r-main-700);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font: inherit;
  transition:
    color 0.2s,
    background-color 0.2s;
}

.r-copy-button-success {
  opacity: 0;
  transform: scale(0.7);
  transition: transform 0.2s;
}

.r-copy-button-base {
  transition: transform 0.2s;
}

.r-copy-button:hover {
  color: var(--r-main-950);
}

.r-copy-button:active,
.r-copy-button._active {
  color: var(--r-success);

  .r-copy-button-success {
    opacity: 1;
    transform: scale(1);
  }

  .r-copy-button-base {
    opacity: 0;
    transform: scale(0.7);
  }
}

.r-copy-button-svg {
  display: block;
}