@use "src/assets/_vars";

.r-pagination {
  grid-area: pagination;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
  gap: 16px;
  margin-bottom: 40px;
}

.r-pagination-item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
  color: var(--r-main-800);

  &:hover {
    color: var(--r-main-950);
  }
}

.r-pagination-item._prev {
  padding-left: 28px;
}

.r-pagination-item._next {
  text-align: right;
  padding-right: 28px;
}

.r-pagination-text {
  display: block;
  line-height: 2;
}

.r-pagination-title {
  font-weight: 600;
  font-size: 16px;
}

.r-pagination-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.r-pagination-icon._prev {
  left: 0;

  .r-pagination-item:hover & {
    transform: translate(-4px, -50%);

    @media screen and (width >=vars.$lg) {
      transform: translate(-8px, -50%);
    }
  }
}

.r-pagination-icon._next {
  right: 0;

  .r-pagination-item:hover & {
    transform: translate(4px, -50%);

    @media screen and (width >=vars.$lg) {
      transform: translate(8px, -50%);
    }
  }
}

.r-pagination-svg {
  display: block;
}