@use "src/assets/_vars";

.r-search-btn {
  position: relative;
  border-radius: 6px;
  background-color: var(--r-main-100);
  color: var(--r-main-600);
  padding: 8px 20px;
  border: 1px solid var(--r-main-200);
  width: 100%;
  text-align: left;
  cursor: text;
  box-sizing: border-box;

  @media screen and (width >=vars.$sm) {
    width: 220px;
    padding: 8px 96px 8px 20px;
  }

  &:hover {
    border-color: var(--r-main-600);

    & .r-search-kbd {
      color: var(--r-main-950);
    }
  }
}

.r-search-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.r-search-kbd {
  display: none;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (width >=vars.$sm) {
    display: flex;
  }
}

.r-search-popup-header {
  position: relative;
  border-bottom: 1px solid var(--r-main-200);
}

.r-search-input {
  border-radius: 12px 12px 0 0;
  background-color: var(--r-main-50);
  padding: 16px 20px;
  border: none;
  border-bottom: 2px solid var(--r-main-300);
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;

  @media screen and (width >=vars.$sm) {
    padding: 16px 72px 16px 20px;
  }

  &:hover {
    border-bottom-color: var(--r-primary-800);
  }

  &:focus {
    outline: none;
    border-bottom-color: var(--r-primary-600);
  }

  &::placeholder {
    color: var(--r-main-500);
  }
}

.r-search-popup-kbd {
  color: var(--r-main-600);
  right: 20px;
}

.r-search-results {
  padding: 2px 8px 8px;
  max-height: min(400px, calc(100dvh - 200px));
  overflow-y: auto;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--r-main-200) transparent;
  margin: 0;
  box-sizing: border-box;
}

.r-search-item {
  display: block;
  text-decoration: none;
  color: var(--r-main-700);
  padding: 8px 12px;
  border: 1px solid var(--r-main-100);
  border-radius: 6px;
  width: 100%;
  margin-top: 6px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: var(--r-main-950);
    background-color: var(--r-main-100);
    border-color: var(--r-main-200);
  }
}

.r-search-item-title {
  margin: 0;
}

.r-search-item-desc {
  font-size: 14px;
  color: var(--r-main-600);
  margin: 12px 0 0;
}