.r-code-block {
  font-family: var(--monospace-font, monospace, monospace);
  font-size: 16px;
  line-height: 1.33;
  border-radius: 6px;
  padding: 16px 20px;
  margin-block-start: 1.5em;
  margin-block-end: 1.75em;
  color: var(--r-primary-800);
  background-color: var(--r-main-50);
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--r-main-200) transparent;
  box-sizing: border-box;
}