@use "src/assets/_vars";

$cl-neutral-50: oklch(0.985 0 0);
$cl-neutral-100: oklch(0.97 0 0);
$cl-neutral-200: oklch(0.922 0 0);
$cl-neutral-300: oklch(0.87 0 0);
$cl-neutral-400: oklch(0.708 0 0);
$cl-neutral-500: oklch(0.556 0 0);
$cl-neutral-600: oklch(0.439 0 0);
$cl-neutral-700: oklch(0.371 0 0);
$cl-neutral-800: oklch(0.269 0 0);
$cl-neutral-900: oklch(0.205 0 0);
$cl-neutral-950: oklch(0.145 0 0);

$cl-orange-50: oklch(0.98 0.016 73.684);
$cl-orange-100: oklch(0.954 0.038 75.164);
$cl-orange-200: oklch(0.901 0.076 70.697);
$cl-orange-300: oklch(0.837 0.128 66.29);
$cl-orange-400: oklch(0.75 0.183 55.934);
$cl-orange-500: oklch(0.705 0.213 47.604);
$cl-orange-600: oklch(0.646 0.222 41.116);
$cl-orange-700: oklch(0.553 0.195 38.402);
$cl-orange-800: oklch(0.47 0.157 37.304);
$cl-orange-900: oklch(0.408 0.123 38.172);
$cl-orange-950: oklch(0.266 0.079 36.259);

.r-root {
  --r-header-height: 60px;
  position: relative;
  padding: 0;
  margin: 0;
  accent-color: var(--r-primary-600, #ea580c);
  box-sizing: border-box;
  background-color: var(--r-main-50);
  color: var(--r-main-950);
  height: 100dvh;
  overflow: hidden auto;
  scroll-padding-top: calc(var(--r-header-height) + 20px);
  scrollbar-color: var(--r-main-400) var(--r-main-100);
  white-space: pre-wrap;
  box-sizing: border-box;

  @media screen and (width < vars.$sm) {
    scroll-padding-top: calc(var(--r-header-height) + 60px);
  }

  @media screen and (width > vars.$lg) {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
}

.r-root_mobile-lock {
  @media screen and (width < vars.$sm) {
    overflow: hidden;
  }
}

.r-root_tablet-lock {
  @media screen and (width < vars.$md) {
    overflow: hidden;
  }
}

.r-root_lock {
  overflow: hidden;
}

.r-root.r-theme-light {
  color-scheme: light;
  --r-main-50: var(--rb-body-50);
  --r-main-50: var(--rb-main-50, #{$cl-neutral-50});
  --r-main-100: var(--rb-main-100, #{$cl-neutral-100});
  --r-main-200: var(--rb-main-200, #{$cl-neutral-200});
  --r-main-300: var(--rb-main-300, #{$cl-neutral-300});
  --r-main-400: var(--rb-main-400, #{$cl-neutral-400});
  --r-main-500: var(--rb-main-500, #{$cl-neutral-500});
  --r-main-600: var(--rb-main-600, #{$cl-neutral-600});
  --r-main-700: var(--rb-main-700, #{$cl-neutral-700});
  --r-main-800: var(--rb-main-800, #{$cl-neutral-800});
  --r-main-900: var(--rb-main-900, #{$cl-neutral-900});
  --r-main-950: var(--rb-main-950, #{$cl-neutral-950});
  --r-primary-50: var(--rb-primary-50, #{$cl-orange-50});
  --r-primary-100: var(--rb-primary-100, #{$cl-orange-100});
  --r-primary-200: var(--rb-primary-200, #{$cl-orange-200});
  --r-primary-300: var(--rb-primary-300, #{$cl-orange-300});
  --r-primary-400: var(--rb-primary-400, #{$cl-orange-400});
  --r-primary-500: var(--rb-primary-500, #{$cl-orange-500});
  --r-primary-600: var(--rb-primary-600, #{$cl-orange-600});
  --r-primary-700: var(--rb-primary-700, #{$cl-orange-700});
  --r-primary-800: var(--rb-primary-800, #{$cl-orange-800});
  --r-primary-900: var(--rb-primary-900, #{$cl-orange-900});
  --r-primary-950: var(--rb-primary-950, #{$cl-orange-950});
  --r-success: #15803d;
  --r-note: #0e7490;
  --r-tip: #047857;
  --r-important: #a21caf;
  --r-warning: #b45309;
  --r-caution: #b91c1c;

  /* SHIKI */
  --r-cl-1: #f9826c;
  --r-cl-2: var(--r-main-100);
  --r-cl-3: #e1e4e8;
  --r-cl-4: #2f363d;
  --r-cl-5: #959da5;
  --r-cl-6: #2188ff;
  --r-cl-7: #dbedff;
  --r-cl-8: #005cc5;
  --r-cl-9: #586069;
  --r-cl-10: #6a737d;
  --r-cl-11: #fafbfc;
  --r-cl-12: #159739;
  --r-cl-13: #138934;
  --r-cl-14: #1b1f23;
  --r-cl-15: #d1d5da;
  --r-cl-16: #34d05822;
  --r-cl-17: #d73a4922;
  --r-cl-18: #ffdf5d;
  --r-cl-19: #ffdf5d66;
  --r-cl-20: #28a74525;
  --r-cl-21: #d1d5da11;
  --r-cl-22: #24292e;
  --r-cl-23: #0366d611;
  --r-cl-24: #f6f8fa;
  --r-cl-25: #0366d625;
  --r-cl-26: #34d05840;
  --r-cl-27: #34d05800;
  --r-cl-28: #ffd33d33;
  --r-cl-29: #24943e99;
  --r-cl-30: #24943e50;
  --r-cl-31: #be5007;
  --r-cl-32: #5a32a3;
  --r-cl-33: #044289;
  --r-cl-34: #cb2431;
  --r-cl-35: #28a745;
  --r-cl-36: #cc2536;
  --r-cl-37: #d7dbe0;
  --r-cl-38: #eff2f6;
  --r-cl-39: #1b1f234d;
  --r-cl-40: #f9c513;
  --r-cl-41: #444d56;
  --r-cl-42: #e2e5e9;
  --r-cl-43: #cce5ff;
  --r-cl-44: #ebf0f4;
  --r-cl-45: #e8eaed;
  --r-cl-46: #6a737d33;
  --r-cl-47: #959da588;
  --r-cl-48: #959da533;
  --r-cl-49: #959da544;
  --r-cl-50: #0366d6;
  --r-cl-51: #3192aa;
  --r-cl-52: #22863a;
  --r-cl-53: #b08800;
  --r-cl-54: #1b7c83;
  --r-cl-55: #dbab09;
  --r-cl-56: #6f42c1;
  --r-cl-57: #b31d28;
  --r-cl-58: #032f62;
  --r-cl-59: #b31d28;
  --r-cl-60: #ffeef0;
  --r-cl-61: #f0fff4;
  --r-cl-62: #ffebda;
}

.r-root.r-theme-dark {
  color-scheme: dark;
  --r-main-50: var(--rb-main-950, #{$cl-neutral-950});
  --r-main-100: var(--rb-main-900, #{$cl-neutral-900});
  --r-main-200: var(--rb-main-800, #{$cl-neutral-800});
  --r-main-300: var(--rb-main-700, #{$cl-neutral-700});
  --r-main-400: var(--rb-main-600, #{$cl-neutral-600});
  --r-main-500: var(--rb-main-500, #{$cl-neutral-500});
  --r-main-600: var(--rb-main-400, #{$cl-neutral-400});
  --r-main-700: var(--rb-main-300, #{$cl-neutral-300});
  --r-main-800: var(--rb-main-200, #{$cl-neutral-200});
  --r-main-900: var(--rb-main-100, #{$cl-neutral-100});
  --r-main-950: var(--rb-main-50, #{$cl-neutral-50});
  --r-primary-50: var(--rb-primary-950, #{$cl-orange-950});
  --r-primary-100: var(--rb-primary-900, #{$cl-orange-900});
  --r-primary-200: var(--rb-primary-800, #{$cl-orange-800});
  --r-primary-300: var(--rb-primary-700, #{$cl-orange-700});
  --r-primary-400: var(--rb-primary-600, #{$cl-orange-600});
  --r-primary-500: var(--rb-primary-500, #{$cl-orange-500});
  --r-primary-600: var(--rb-primary-400, #{$cl-orange-400});
  --r-primary-700: var(--rb-primary-300, #{$cl-orange-300});
  --r-primary-800: var(--rb-primary-200, #{$cl-orange-200});
  --r-primary-900: var(--rb-primary-100, #{$cl-orange-100});
  --r-primary-950: var(--rb-primary-50, #{$cl-orange-50});
  --r-success: #86efac;
  --r-note: #22d3ee;
  --r-tip: #34d399;
  --r-important: #e879f9;
  --r-warning: #fbbf24;
  --r-caution: #f87171;

  /* SHIKI */
  --r-cl-1: #f9826c;
  --r-cl-2: var(--r-main-100);
  --r-cl-3: #444d56;
  --r-cl-4: #e1e4e8;
  --r-cl-5: #959da5;
  --r-cl-6: #0366d6;
  --r-cl-7: #1d2d3e;
  --r-cl-8: #79b8ff;
  --r-cl-9: #d1d5da;
  --r-cl-10: #9ba3ac;
  --r-cl-11: #24292e;
  --r-cl-12: #176f2c;
  --r-cl-13: #22863a;
  --r-cl-14: #fff;
  --r-cl-15: #586069;
  --r-cl-16: #28a74530;
  --r-cl-17: #d73a4930;
  --r-cl-18: #ffd33d44;
  --r-cl-19: #ffd33d22;
  --r-cl-20: #2b6a3033;
  --r-cl-21: #58606915;
  --r-cl-22: #e1e4e8;
  --r-cl-23: #3392ff22;
  --r-cl-24: #2f363d;
  --r-cl-25: #3392ff44;
  --r-cl-26: #17e5e650;
  --r-cl-27: #17e5e600;
  --r-cl-28: #c6902625;
  --r-cl-29: #17e5e699;
  --r-cl-30: #17e5e666;
  --r-cl-31: #ffab70;
  --r-cl-32: #b392f0;
  --r-cl-33: #c8e1ff;
  --r-cl-34: #f97583;
  --r-cl-35: #34d058;
  --r-cl-36: #f97583;
  --r-cl-37: #444d56;
  --r-cl-38: #2f363d;
  --r-cl-39: #444d56;
  --r-cl-40: #ffea7f;
  --r-cl-41: #d1d5da;
  --r-cl-42: #39414a;
  --r-cl-43: #044289;
  --r-cl-44: #282e34;
  --r-cl-45: #282e34;
  --r-cl-47: #6a737d88;
  --r-cl-48: #6a737d33;
  --r-cl-49: #6a737d44;
  --r-cl-50: #79b8ff;
  --r-cl-51: #56d4dd;
  --r-cl-52: #85e89d;
  --r-cl-53: #ffea7f;
  --r-cl-54: #39c5cf;
  --r-cl-55: #ffea7f;
  --r-cl-56: #b392f0;
  --r-cl-57: #fdaeba;
  --r-cl-58: #dbedff;
  --r-cl-59: #fdaeb7;
  --r-cl-60: #86181d;
  --r-cl-61: #144620;
  --r-cl-62: #c24e00;
}