.viewer {
  display: grid;
  flex-direction: column;
  max-width: 1400px;
  min-height: calc(100vh - var(--r-header-height));
  margin: 0 auto;
  grid-template-areas:
    "tab-editor tab-preview"
    "panel-editor panel-preview";
  grid-template-rows: auto 1fr;
  grid-template-columns: 50% 50%;
}

.viewer-tab-editor {
  grid-area: tab-editor;
}

.viewer-tab-preview {
  grid-area: tab-preview;
}

.viewer-panel-editor {
  grid-area: panel-editor;
}

.viewer-panel-preview {
  grid-area: panel-preview;
}

.viewer-panel {
  display: none;
  flex-direction: column;
  min-height: 320px;

  @media screen and (width >=1024px) {
    display: flex;
  }
}

.viewer-panel-editor {
  padding: 16px;
  background: none;
  border: none;
  border-radius: 2px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  resize: none;
  outline: none;
  font-size: inherit;
  line-height: 1.3;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--r-main-100);
  }

  &:focus {
    background-color: var(--r-main-100);
  }

  &::placeholder {
    color: var(--r-main-600);
  }
}

.viewer-panel-preview {
  overflow: auto;
  padding: 16px;
  border-radius: 2px;
}

.viewer-tab {
  position: sticky;
  top: var(--r-header-height);
  z-index: 100;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  background-color: var(--r-main-50);
  border-bottom: 1px solid var(--r-main-200);

  &:hover {
    background-color: var(--r-main-100);
  }
}

.viewer-tab-input {
  display: none;
}

.viewer-tab-input:checked+.viewer-tab {
  @media screen and (width <1024px) {
    background-color: var(--r-main-200);
  }
}

.viewer-tab-input:checked+.viewer-tab+.viewer-panel {
  @media screen and (width <1024px) {
    display: flex;
    grid-column: 1/3;
  }
}

.viewer-panel-preview,
.viewer-tab-preview {
  @media screen and (width >=1024px) {
    border-left: 1px solid var(--r-main-200);
  }
}