.r-block {
  position: relative;
  width: 100%;
  overflow: auto;
  margin-block-start: 12px;
  margin-block-end: 12px;
  scrollbar-width: thin;
  scrollbar-color: var(--r-main-200) transparent;
  box-sizing: border-box;
  z-index: 1;
}