html, body {
    margin: 0;
    padding: 0;
}

html.r-root.theme-dark {
    background-color: rgb(12,12,12);
}

html.r-root.theme-light {
    background-color: rgb(242,242,242);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 1ms !important;
        transition-delay: -1ms !important;
    }
}
