.r-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
}

.r-backdrop._visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}