.showcases {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  overflow-x: hidden;

  @media screen and (width >=768px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.showcases-name {
  position: relative;
  color: var(--r-primary-600);
  box-sizing: border-box;
}

.showcases-btns {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-top: 32px;

  @media screen and (width >=768px) {
    grid-auto-flow: column;
  }
}

.showcases-list {
  display: grid;
  gap: 24px;
  margin-top: 120px;

  @media screen and (width >=1080px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.showcases-card {
  position: relative;
  display: block;
  border-radius: 12px;
  text-decoration: none;
  background-color: var(--r-main-50);
  padding: 16px;
  color: inherit;
  text-align: left;
  filter: grayscale(0.5);
  transition: background-color 0.2s;

  &:hover {
    filter: grayscale(0);
    background-color: var(--r-main-100);
  }
}

.showcases-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-sizing: border-box;
  aspect-ratio: 16/9;
}

.showcases-product {
  margin: 24px 12px 12px;
  line-height: 1;
  font-size: 1.25em;
  box-sizing: border-box;
}

.showcases-product-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px 10px;
  background-color: var(--r-main-100);
  backdrop-filter: opacity(0.4);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}