@use "src/assets/_vars";

.r-blog-container {
  min-height: calc(100vh - var(--header-height));
  overflow-wrap: break-word;
  box-sizing: border-box;

  @media screen and (width >= vars.$lg) {
    display: grid;
    justify-content: space-between;
    column-gap: 40px;
    grid-template-areas: "breadcrumbs contents" "content contents" "pagination contents";
    grid-template-columns: 760px 220px;
    grid-template-rows: auto 1fr auto;
  }
}
