.r-th {
  padding: 6px 12px;
  border-top: 1px solid var(--r-main-500);
  border-bottom: 1px solid var(--r-main-500);
  border-collapse: collapse;
}

.r-th_left {
  text-align: left;
}

.r-th_center {
  text-align: center;
}

.r-th_right {
  text-align: right;
}