.r-th {
  padding: 8px 12px;
  border-collapse: collapse;
  background-color: var(--r-main-100);
  border-bottom: 1px solid var(--r-main-200);

  .r-thead &:first-child {
    border-top-left-radius: 6px;
  }

  .r-thead &:last-child {
    border-top-right-radius: 6px;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--r-main-200);
  }
}

.r-th_left {
  text-align: left;
}

.r-th_center {
  text-align: center;
}

.r-th_right {
  text-align: right;
}