.r-code-span {
  font-family: var(--monospace-font, monospace, monospace);
  background-color: var(--r-main-100);
  border: 1px solid var(--r-main-200);
  color: var(--r-main-950);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: .5px;
}

.r-code-span+.r-content-link-external {
  margin-left: -12px;
}