.r-content-link {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--r-primary-500);
  text-underline-offset: 3px;
  transition: text-decoration-offset .2s ease;

  &:hover {
    color: var(--r-main-700);
    text-decoration-color: var(--r-primary-400);
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }

  &:active {
    color: var(--r-primary-600);
  }
}

.r-content-link-external {
  position: relative;
  vertical-align: text-top;
  display: inline-block;
  margin-left: -4px;
  margin-right: 2px;
  width: 6px;
  height: 6px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
    box-sizing: border-box;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 0 0 0 4px;
    box-sizing: border-box;
  }
}