.r-dropdown {
  position: relative;
  color: var(--r-main-600);
  transition: color 0.2s 0.1s;

  &:hover,
  &:focus-within {
    color: var(--r-main-950);

    & .r-dropdown-drop {
      visibility: visible;
      pointer-events: all;
      transform: translateY(20px);
      opacity: 1;
    }

    & .r-dropdown-chevron {
      transform: rotate(180deg);
    }
  }
}

.r-dropdown-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  color: inherit;
  cursor: pointer;
  padding: 10px 4px;
  font-size: 16px;
  border: 0;
  background: none;
  z-index: 1;
  box-sizing: border-box;
}

.r-dropdown-chevron {
  display: block;
  margin-left: 6px;
  transition: transform 0.3s 0.1s;
  box-sizing: border-box;
}

.r-dropdown-drop {
  list-style: none;
  position: absolute;
  top: 16px;
  left: -12px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition:
    transform 0.3s 0.1s,
    opacity 0.3s 0.1s,
    visibility 0.3s 0.1s;
  background-color: var(--r-main-50);
  border: 1px solid var(--r-main-100);
  border-radius: 8px;
  margin: 0;
  padding: 2px 6px;
  min-width: 120px;
  max-width: 180px;
  box-sizing: border-box;
}

.r-dropdown-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--r-main-700);
  padding: 4px 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  transition: background-color 0.2s;
  box-sizing: border-box;

  &:hover {
    color: var(--r-main-900);
    background-color: var(--r-main-100);
  }
}

.r-dropdown-link._active {
  color: var(--r-primary-700);
}