.r-theme-switcher {
  position: relative;
  display: flex;
  gap: 4px;
  width: 109px;
  height: 37px;
  padding: 2px;
  background-color: var(--r-main-100);
  border: 1px solid var(--r-main-200);
  border-radius: 100px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 2px;
    left: 2px;
    background-color: var(--r-main-50);
    border: 1px solid var(--r-main-200);
    border-radius: 100px;
    transition: left 0.2s;
    box-sizing: border-box;
  }
}

.r-theme-switcher-btn {
  padding: 8px;
  background: none;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  color: var(--r-main-700);
  fill: transparent;
  z-index: 1;
  transition:
    color 0.2s 0.1s,
    fill 0.2s;

  &:hover {
    color: var(--r-main-950);
    fill: var(--r-main-600);
  }
}

.r-theme-dark:not(.r-theme-system) .r-theme-switcher::before {
  left: 2px;
}

.r-theme-dark:not(.r-theme-system) .r-theme-switcher-btn__dark,
.r-theme-system .r-theme-switcher-btn__system,
.r-theme-light:not(.r-theme-system) .r-theme-switcher-btn__light {
  color: var(--r-main-950);
  fill: var(--r-main-950);
  pointer-events: none;
}

.r-theme-switcher::before,
.r-theme-system .r-theme-switcher::before {
  left: 38px;
}

.r-theme-light:not(.r-theme-system) .r-theme-switcher::before {
  left: 74px;
}

.r-theme-switcher-svg {
  display: block;
}