@use "src/assets/_vars";

.r-header {
  position: sticky;
  background-color: var(--r-main-50);
  top: 0;
  border-bottom: 1px solid var(--r-main-300);
  height: 60px;
  z-index: 1000;
  box-sizing: border-box;
}

.r-header-body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

.r-header-logo {
  display: block;
  margin-right: 24px;
  color: var(--r-main-700);
  transition: color 0.2s;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: var(--r-main-950);
  }
}

.r-header-nav {
  display: flex;
  flex-direction: column;
  gap: 12px 16px;

  @media screen and (width >=vars.$md) {
    flex-direction: row;
  }
}

.r-header-link {
  color: var(--r-main-600);
  text-decoration: none;
  padding: 4px 0;
  transition: color 0.2s;
  box-sizing: border-box;

  &:hover,
  &:focus-visible {
    color: var(--r-main-950);
  }
}

.r-header-link._target {
  color: var(--r-primary-800);

  &:hover,
  &:focus-visible {
    color: var(--r-primary-700);
  }
}

.r-header-actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  align-items: stretch;

  @media screen and (width >=vars.$md) {
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }
}

.r-header-sections {
  display: flex;
  align-items: center;
  gap: 12px;

  & .r-dropdown {
    @media screen and (width < vars.$sm) {
      flex: 1;
    }
  }

  & .r-dropdown-drop {
    @media screen and (width < vars.$sm) {
      max-width: none;
      width: 100%;
      left: 0;
    }
  }
}