@use "src/assets/_vars";

.r-footer {
  border-top: 1px solid var(--r-main-300);
}

.r-footer-container.r-footer-container {
  padding: 16px 12px;

  @media screen and (width >=vars.$md) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.r-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.r-footer-additional {
  margin-top: 20px;
  justify-content: flex-end;
}

.r-copyright {
  color: var(--r-main-800);
}

.r-powered {
  font-size: 14px;
  display: block;
  color: var(--r-main-600);
}

.r-powered-link {
  font-weight: 600;
  text-decoration: none;
  color: var(--r-main-950);

  &:hover {
    color: var(--r-primary-900);
  }
}