.r-tabs {
  margin-block-start: 1.5em;
  margin-block-end: 1.75em;
}

.r-tab-list {
  position: relative;
  z-index: 1;
}

.r-tab-list .r-code-section,
.r-tab-list .r-code-section-header {
  margin-block-start: 0;
  margin-block-end: 0;
}

.r-tabs-header {
  display: flex;
  margin: 0 12px;
  text-wrap: nowrap;
  overflow: auto hidden;
  scrollbar-width: thin;
}

.r-tab-header {
  position: relative;
  cursor: pointer;
  color: var(--r-main-600);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 12px 2px;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease, color 0.2s ease;

  &:hover {
    border-color: var(--r-main-500);
    color: var(--r-main-800);
  }
}

.r-tab-header-code {
  font-family: var(--monospace-font, monospace, monospace);
}