.r-tooltip {
  font-family: var(--monospace-font, monospace, monospace);
  display: none;
  opacity: 0;
  position: absolute;
  background: var(--r-main-200);
  width: max-content;
  padding: 6px 12px;
  border-radius: 4px;
  max-width: 200px;
  transform: translateY(80%);
  transition:
    transform 0.2s allow-discrete,
    opacity 0.2s allow-discrete;
  box-sizing: border-box;

  &._bottom-start {
    bottom: -8px;
    left: 0;
  }

  &._bottom-end {
    bottom: -8px;
    right: 0;
  }
}

.r-tooltip._visible {
  display: block;
  opacity: 1;
  transform: translateY(100%);
}