.r-tooltip {
  font-family: var(--monospace-font, monospace, monospace);
  display: none;
  opacity: 0;
  position: absolute;
  background: color-mix(in oklab, var(--r-main-100) 90%, transparent);
  border: 2px solid var(--r-main-50);
  backdrop-filter: blur(2px);
  width: max-content;
  padding: 6px 12px;
  border-radius: 4px;
  max-width: 200px;
  transform: translateY(80%);
  transition:
    transform 0.2s allow-discrete,
    opacity 0.2s allow-discrete;
  box-sizing: border-box;

  &._bottom-start {
    bottom: -4px;
    left: -4px;
  }

  &._bottom-end {
    bottom: -4px;
    right: -4px;
  }
}

.r-tooltip._visible {
  display: block;
  opacity: 1;
  transform: translateY(100%);
}