.r-td {
  padding: 6px 12px;
  border-bottom: 1px solid var(--r-main-400);
  border-collapse: collapse;
}

.r-td_left {
  text-align: left;
}

.r-td_center {
  text-align: center;
}

.r-td_right {
  text-align: right;
}