.r-td {
  padding: 8px 12px;
  border-collapse: collapse;

  &:not(:last-child) {
    border-right: 1px solid var(--r-main-200);
  }
}

.r-td_left {
  text-align: left;
}

.r-td_center {
  text-align: center;
}

.r-td_right {
  text-align: right;
}