@use "src/assets/_vars";

.r-article {
  padding: 20px 0 40px;
  grid-area: content;

  @media screen and (width >=vars.$lg) {
    padding: 32px 0 40px;
  }

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }
}

.r-checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.r-label {
  cursor: pointer;
}

.r-task-ol,
.r-task-ul {
  list-style: none;
}

.r-task-label {
  display: block;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;

  &:hover {
    .r-checkbox {
      filter: brightness(0.8);
    }
  }
}

.r-task-li.r-task-li {
  margin-block-start: 2px;
  margin-block-end: 2px;
}

.r-label-text {
  vertical-align: middle;
}