.r-blockquote {
  padding: 4px 12px 4px 20px;
  border: 4px solid var(--r-main-100);
  border-left: 4px solid var(--r-main-600);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font: inherit;
  margin-inline: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  border-radius: 8px;
}

.r-blockquote-title {
  font-weight: 600;
}

.r-blockquote-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 8px;
}

.r-blockquote-note {
  border-left-color: var(--r-note);

  .r-blockquote-title {
    color: var(--r-note);
  }
}

.r-blockquote-tip {
  border-left-color: var(--r-tip);

  .r-blockquote-title {
    color: var(--r-tip);
  }
}

.r-blockquote-important {
  border-left-color: var(--r-important);

  .r-blockquote-title {
    color: var(--r-important);
  }
}

.r-blockquote-warning {
  border-left-color: var(--r-warning);

  .r-blockquote-title {
    color: var(--r-warning);
  }
}

.r-blockquote-caution {
  border-left-color: var(--r-caution);

  .r-blockquote-title {
    color: var(--r-caution);
  }
}