.r-code-section {
  position: relative;
  margin-block-start: 1.5em;
  margin-block-end: 1.75em;
  background-color: var(--r-main-100);
  padding: 3px;
  border-radius: 8px;
  border: 1px solid var(--r-main-200);
}

.r-code-section-header {
  font-family: var(--monospace-font, monospace, monospace);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-left: 20px;
  color: var(--r-main-700);
}

.r-code-section-header+.r-code-section-block {
  border: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.r-code-section:hover .r-code-section-copy {
  opacity: 0.9;
}

.r-code-section-copy.r-code-section-copy {
  position: absolute;
  right: 9px;
  top: 9px;
  opacity: 0;
  transition:
    opacity 0.2s,
    color 0.2s,
    background-color 0.2s;

  &:hover,
  &._active {
    opacity: 1;
  }
}

.r-code-section-filename {
  font-family: var(--monospace-font, monospace, monospace);
}